<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParityBinFile" value="Parity.dll"/>
    <add key="ParityType" value="CRC"/>
    <add key="ParityMethod" value="CRC16_Table"/>
    <add key="CheckParityType" value="CRC"/>
    <add key="CheckParityMethod" value="CRC16TableOK"/>
  </appSettings>
</configuration>